@import "../fonts/fonts.less";
@import "../sprite/sprite.less";

.reset();

.wrapper{
    .wrapper();
}

@font-face {
    .font(@font; @fontRegular);
}

@font-face {
    .font(@PTSans; "@{PTSans}-Bold");
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: @fontRegular;
     padding: 0;
     margin: 0;
}

a, button{
    cursor: pointer;
    &:focus{
        outline: none;
    }
  }
  a{
    text-decoration: none;
    color: inherit;
  }
  input{
    cursor: text;
    &:focus{
        outline: none;
    }
  }
  

