.event {
    padding: 75px 0;
    text-align: center;
    .page__title-h2 {
        margin-bottom: 25px;
    }
    .social__icon {
        filter: invert(0.7);
    }
    &.animated{
        .page__title-h2{
        .animated({
        .fadeInDown();
        });
        }
        .item{
        .animated({
        .delay(0.5s);
        .fadeIn();
        });
        }
        }
}