.social {
    display: flex;
    justify-content: center;
    &__icon {
        margin: 0 8px; 
        border-radius: 2px;
        &:last-child {
            margin-right: 0;
        } 
        &_fb, 
        &_tw,
        &_inst,
        &_vimeo,
        &_google {
            filter: invert(1);
            &:hover {
                filter: invert(0);
                //filter: invert(1);
            }
        }
        &_fb {
            .sprite(@icon-facebook-black);
            &:hover {
                .sprite(@icon-facebook);
            }
        } 
        &_tw {
            .sprite(@icon-twitter-black);
            &:hover {
                .sprite(@icon-twitter);
            }
        }    
        &_inst {
            .sprite(@icon-instagram-black);
            &:hover {
                .sprite(@icon-instagram);
            }
        }    
        &_vimeo {
            .sprite(@icon-vimeo-black);
            &:hover {
                .sprite(@icon-vimeo);
            }
        }    
        &_google {
            .sprite(@icon-google-plus-black);
            &:hover {
                .sprite(@icon-google-plus);
            }
        }       
    }
}