@import "./fonts/fonts.less";
@import "./sprite/sprite.less";

.reset();

.wrapper{
    .wrapper();
}

/*div {
    box-sizing: border-box;
}*/

@font-face {
    .font(@font; @fontBold);
}

@font-face {
    .font(@font; @fontRegular);
}

body {
    font-family: @fontRegular;
     padding: 0;
     margin: 0;
}

