section.about-event
    .wrapper
        .about-event-blok
            div.about-event__left
                h2.page__title-h2 about event
                p.about-event__text_2 Li nov lingua franca va esser plu simplic e regular quam li existent Europan lingues.It va esser tam simplic quam Occidental fact, esser Occidental un skeptic li Europon lingues es membres del sam familie.
                p.about-event__text_2 It va esser tam simplic quam Occidental in fact esser lit Occidental. A un Angleso it va semblar un simplificat us Cambridge amic li Europan membres del familie.
                a.page__btn_2(href='#callback-form') buy ticket
            div.about-event__right
                .about-event__blok_1
                    .about-event__icon-map
                    p.about-event__text_4 France
                    p.about-event__text_5 Division No.20, Dola Mine Road, UK
                .about-event__blok_2
                    .about-event__icon-celender
                    p.about-event__text_4 24 - 26 March 2017
                    p.about-event__text_5 After 256 Days
                .about-event__blok_3
                    .about-event__icon-microphone
                    p.about-event__text_4 36+Speakers
                    p.about-event__text_5 Popular Speakers Attend Here
                .about-event__blok_4
                    .about-event__icon-manplus
                    p.about-event__text_4 55+Sponsors
                    p.about-event__text_5 Be a Sponsors & make it Fruitful


            
