section.about
    .wrapper
        .about-block
            div.about-block__text
                h2.page__title-h2 about event
                .page__text Li nov lingua franca va esser plu simplic e regular quam li existent Europan lingues.It va esser tam simplic quam Occidental fact, esser Occidental un skeptic li Europon lingues es membres del sam familie.
                .page__text It va esser tam simplic quam Occidental in fact esser lit Occidental. A un Angleso it va semblar un simplificat us Cambridge amic li Europan membres del familie.
                button.page__btn.page__btn_open-modal buy ticket
            div.about-block__info
                .about-block-info-contacts
                    .about-block-info-contacts__geo
                        .about-block-info-contacts__geo-name France
                        .about-block-info-contacts__geo-name-detail Division No.20, Dola Mine Road, UK
                    .about-block-info-contacts__date
                        .about-block-info-contacts__date-name 24 - 26 March 2017
                        .about-block-info-contacts__date-name-detail After 256 Days
                    .about-block-info-contacts__speaker
                        .about-block-info-contacts__speaker-name 36+Speakers
                         .about-block-info-contacts__speaker-name-detail Popular Speakers Attend Here
                    .about-block-info-contacts__sponsor
                        .about-block-info-contacts__sponsor-name 55+Sponsors
                        .about-block-info-contacts__sponsor-name-detail Be a Sponsors & make it Fruitful

            
