section#banner.banner
  .banner_opacity
  .wrapper
    .banner-block
      h1.page__title-h1 Design Conference 2019
      .banner-block-info
        div
          .banner-block-info__icon-celender
          time.time December,2019
        div
          .banner-block-info__icon-mark-map
          address.address Oxford Street, London, UK
      .banner-block-text
        p.page__text
          | It va esser tam simplic quam Occidental in fact, it va esser Occidental. A un Angleso it va semblar Occidental es.Li Europan lingues es membres del sam familie. Lor separat existentie es un myth.
      .banner-block-btn
        a.page__btn(href='#callback-form') Register Now
        a.page__btn(href='#schedule') View Details
      .banner-block-counter
        .banner-block-counter__item
          #days.banner-block-counter__item_number 132
          .banner-block-counter__item_text Days
        .banner-block-counter__item
          #hours.banner-block-counter__item_number 15
          .banner-block-counter__item_text Hours
        .banner-block-counter__item
          #minutes.banner-block-counter__item_number 12
          .banner-block-counter__item_text Minutes
        .banner-block-counter__item
          #seconds.banner-block-counter__item_number 16
          .banner-block-counter__item_text Seconds