section.event
    .wrapper
        h2.page__title-h2 Event Speakers
        .items-block
            .item
                .item__img
                    img(src="assets/img/img-speaker-1.png")
                .item__name Johnatan Smiths
                .item__specname SEO Specialist
                include social
            .item
                .item__img
                    img(src="assets/img/img-speaker-2.png")
                .item__name Mark Stephen
                .item__specname Director
                include social
            .item
                .item__img
                    img(src="assets/img/200+.png")
                .item__name Jose Brooks
                .item__specname UI Designer
                include social
            .item
                .item__img
                    img(src="assets/img/500+.png")
                .item__name Patrical Corrales
                .item__specname Developer
                include social