header.header-block
    .wrapper
        .header
            a.header-logo(href="#banner")
                .header-logo__icon
                .header-logo__text Event
            .header-social
               include social