header.header-block
    .wrapper
        .header
            a.header-logo(href="#banner")
                .header-logo__icon
                .header-logo__text Event
            .header-social
                nav.social
                    a.social__icon.social__icon_fb(href="")
                    a.social__icon.social__icon_tw(href="")
                    a.social__icon.social__icon_inst(href="")
                    a.social__icon.social__icon_vimeo(href="")
                    a.social__icon.social__icon_google(href="")