section.presentation-book
    .presentation-book__wrapper
        .presentation-book__
        p.presentation-book__text_1 presentation book
        p.presentation-book__text_2 Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua francal On refusa continuar payar custosi traductores.
        a.page__btn_3(href='#callback-form') download pdf