section.schedule
    .wrapper
        h2.page__title-h2  the Schedule
        #tabs.tab-contents
            .tab-nav
                button.page__btn.tab-link.is-active days 1
                button.page__btn.tab-link days 2
                button.page__btn.tab-link days 3
            .tab-content.is-active
                .item
                    .item__time 09.00 - 10.00
                    .item__info-detail Photoshop Workouts – Grand Opening
                .item
                    .item__time 11.00 - 12.30
                    .item__info-detail HTML Gala For Beginners
                .item
                    .item__time 01.00 - 02.00
                    .item__info-detail Webtech Inventions Gala
                .item
                    .item__time 03.00 - 04.00
                    .item__info-detail Web Services Gala
            .tab-content 
                .item
                    .item__time 11.00 - 12.30
                    .item__info-detail HTML Gala For Beginners
                .item
                    .item__time 01.00 - 02.00
                    .item__info-detail Webtech Inventions Gala
        