section.testimonial
    .testimonial_parallax 
    .testimonial_opacity
    .wrapper
            .testimonial-block
                h2.page__title-h2 testiomonial
                .page__img
                    img(src="assets/img/img-man.jpg")
                .page__text.page__text_bold Laura Dickson
                .page__text Designer
                .page__text “ Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores. At solmen va esser necessi far uniform grammatica, pronunciation. ”
